/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position:static;
   
    
}

#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    transition: all 1s ease-in-out;
}
#logo img:hover{
    transform:scale(1.5);
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{
    color: white;
    display: flex;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 520px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('salad.jpg') no-repeat center center/cover;
    height: 625px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}


#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
    
}


#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('hand.jpg')no-repeat;
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.9;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
    transition:all 0.5s ease-in-out;
}
.client-item:hover{
    transform: scale(1.2);
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('phone.jpg') no-repeat center center/cover;
    

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
   
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    
} 

#contact-box form{
    width: 40%;
    
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 10px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 14px;
    /* margin-left: 220px; */
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}
    #contact-box button{
        display:block;
        margin:auto;
        height: 50px;
        width: 100px;
        /* padding: 6px 20px; */
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        background-color: brown;
        color: white;
        /* margin: 14px; */
        /* margin-left: 220px; */
        font-size: 1.5rem;
        border-radius: 10px;
        cursor:pointer;
        transition:all 1s ease-in-out;
    }
   

.btn:hover{
    border: 2px solid lime;
    background-color: red;
    color: white;
    /* transform: scale(1.5); */
    transform:rotate(360deg);

}
#contact-box button:hover{
    border: 2px solid whitesmoke;
    background-color:black;
    color: white;
    transform:scale(1.2);
}
.center{
    text-align: center;
}
img{
    border-radius: 20px;

}
.colorchange{
    animation:colorchangeOnlineMeals 1s infinite;
}
@keyframes colorchangeOnlineMeals{
    0%{color:white;}
    25%{color:orangered;}
    50%{color:violet;}
    100%{color:whitesmoke;}
}
#botam{
    padding: 3px 15px;
    border: 1.5px solid gainsboro;
    background-color:firebrick;
    color: lightgoldenrodyellow;
    margin: 12px;
    font-weight: bold;
    /* margin-left: 220px; */
    font-size: 1.3rem;
    border-radius: 18px;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}
#botam:hover{
    border: 2px solid black;
    background-color:white;
    color: rgb(206, 104, 104);
     transform: scale(1.1); 
}
#rong{
    color:wheat;

}

#btm{
    padding: 3px 15px;
    border: 1.5px solid gainsboro;
    background-color:firebrick;
    color: lightgoldenrodyellow;
    margin: 48px;
    font-weight: bold;
    /* margin-left: 220px; */
    font-size: 1.3rem;
    border-radius: 18px;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}

#btm:hover{
    border: 2px solid darkgrey;
    background-color:plum;
    color: rgb(48, 61, 245);
     transform: scale(1.1); 
}
#btm1{
    padding: 3px 15px;
    border: 1.5px solid gainsboro;
    background-color:firebrick;
    color: lightgoldenrodyellow;
    margin: 48px;
    font-weight: bold;
    /* margin-left: 220px; */
    font-size: 1.3rem;
    border-radius: 18px;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}

#btm1:hover{
    border: 2px solid darkgrey;
    background-color:plum;
    color: rgb(48, 61, 245);
     transform: scale(1.1); 
}
#btm2{
    padding: 3px 15px;
    border: 1.5px solid gainsboro;
    background-color:firebrick;
    color: lightgoldenrodyellow;
    margin: 48px;
    font-weight: bold;
    /* margin-left: 220px; */
    font-size: 1.3rem;
    border-radius: 18px;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}

#btm2:hover{
    border: 2px solid darkgrey;
    background-color:plum;
    color: rgb(48, 61, 245);
     transform: scale(1.1); 
}
.cucumber{
    font-size: 23px;
        background-color: black;
        color:white;
        border: 2px solid darkred;
        padding: 5px;
        margin: 4px;
        text-align: center;
}
#time {
    font-weight: bold;
}